@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

nav {
  height: 80px;
  width: 100%;
  background: #5C6DFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  width: 55px;
  height: 55px;
}

.box1 {
  background: #E85CFF;
}

.box2 {
  background: #0BCFAC;
}

.box3 {
  background: #FFB672;
}

main {
  padding: 159px 0;
}

p {
  width: 879px;
  margin: 0 auto 32px auto;
  text-align: center;
}

button {
  width: 166px;
  height: 50px;
  border-radius: 37px;
  background: #5C6DFF;
  color: #fff;
  border: none;
  margin: 0 auto;
  display: block;
}

section {
  height: 421px;
  width: 100%;
  background: #00614F;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.big-box {
  width: 105px;
  height: 105px;
  color: white;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-box1 {
  background: #FFB672;
}

.big-box2 {
  background: #FF8686;
}

.big-box3 {
  background: #E12CFF;
}

.big-box4 {
  background: #3E97FF;
}

.big-box5 {
  background: #00DB7F;
}

.layer1, .layer3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 53px 0;
}

.subscribe {
  margin: 66px auto;
  background: #FF5C5C;
}